@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

/* Tailwind v4 Dark Mode Variant */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    font-family: 'Geist', system-ui, sans-serif;
  }

  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

/* index.css ya global.css */
body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
  /* Firefox */
}